@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,900);

@default: 'Lato', arial, sans-serif;

@white: #FCFFF6;
@black: #333333;
@gray: #D3D4D6;
@gray2: #606060;
@blue-dark: #154B79;
@blue-dark2: #143153;
@blue-light: #509BF8;
@blue-light2: #1D5CA3;
@blue-light3: #217FF0;

.rounded(@pixels: 5px){
	-webkit-border-radius: @pixels;
	-moz-border-radius: @pixels;
	border-radius: @pixels;
}

.title(){
	color: @white;
	margin-top: 0;
	margin-bottom: 5%;
	text-align: center;
	font-weight: bolder;
	font-size: 36px;
	text-transform: uppercase;
	letter-spacing: -2px;
	span{
		font-weight: normal;
		color: @blue-light;
	}	
}

.button-blue(){
	color: @white;
	font-weight: bold;
	padding: 10px 20px;
	-webkit-box-shadow: 0 3px 1px -1px @blue-light3;
	box-shadow: 0 3px 1px -1px @blue-light3;
	.rounded(2px);
	background-color: @blue-light;
	&:hover{
		text-decoration:none;
		-webkit-box-shadow: 0 2px 1px -1px @blue-light3;
		box-shadow: 0 2px 1px -1px @blue-light3;
	}	
}

.row{
	margin-left: 0;
	margin-right: 0;
}

body{
	font-family: @default;

	a{
		&:hover{
			color: @blue-dark;
		}
	}

	.inner-container{
		width: 85%;
		display: table;
		margin: 0 auto;
	}

	header{
		.navbar{
			background: url(../images/bg-simargl.jpg);
			height: 63px;
			.container{
				.navbar-collapse{
					#menu-main-menu{
						width: 95%;
						padding-left: 5.5%;
						li{
							padding: 0 1em;
							&#menu-item-10{
								a{
									text-indent: -9999px;
									background: url(../images/simargl-logo.png) no-repeat;
									width: 200px;
									height: 113px;
								}
							}
							a{
								padding: 1.5em 1.2em 0;
								text-transform: uppercase;
								font-weight: bold;
							}
							&:hover{
								a{
									color: @blue-dark;
								}
							}
						}
					}
				}
			}
		}
	} 
	.container{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		#slider{
			position: relative;
			.language{
				position: absolute;
				left: 49%;
				top: 8%;
				z-index: 900;
				a{
					height: 22px;
					width: 22px;
					display: inline-block;
					&.en{
						background: url(../images/english-lenguage.jpg) no-repeat;
					}
					&.ru{
						background: url(../images/russian-lenguage.jpg) no-repeat;
					}
				}
			}
			.carousel{
				.carousel-inner{
					img{
						width: 100%;
						max-width: 1600px;
						max-height: 900px;
					}
				}
				.carousel-control{
					font-size: 20px;
					.glyphicon{
						&:before{
							font-size:52px;
							content:'\00a0';
		    				background-image:url(../images/arrows-slider.png);
		    				background-repeat: no-repeat;
						}
						&.glyphicon-chevron-right:before{
							background-position: -40px 0;
						}
						&.glyphicon-chevron-left:before{
							background-position: -0 0;
						}					
					}
				}
				.carousel-caption{
					bottom: 34%;
					h2{
						font-size: 60px;
						font-weight: normal;
						margin-bottom: 0;
					}
					p{
						color: @blue-light;
						font-size: 33px;
						line-height: 1;
					}
				}
			}
		}
		#media-kit{
			background-color: @blue-light2;
			color: @white;
			#media-kit-logo{		
				h2{
					margin-top: 10px;
					line-height: 65px;
					background: url(../images/icon-mediakit.png) 0 0 no-repeat;
					padding-left: 90px;
					margin-top: 17px;
					border-right: 1px solid @white;
					padding-right: 15%;
					height: 65px;
				}
			}
			p{
				margin-top: 3%;
				/*padding: 0 2%;*/
				line-height: 18px;
			}
			.button-blue{
				margin-top: 3%;
				a{
					.button-blue();
					background-image: url(../images/mediakit-icon.jpg);
					background-position: center right;
					background-repeat: no-repeat;
					padding-right: 50px;
				}
			}
		}
		#what-we-do{
			background-color: @blue-dark2;
			color: @white;
			border-bottom: 4px solid @blue-light;
			padding: 3% 0;
			h2{
				.title();
			}
			#what-we-do-images{
				position: relative;
				height: 380px;
				.what-we-do-image{
					position: absolute;
					img{
						width: 220px;
						height: 220px;
					}
					&.image1{
						top: 0;
						left: 30%;
					}
					&.image2{
						top: 0;
						left: 50%;
					}
					&.image3{
						top: 30%;
						left: 20%;
					}	
					&.image4{
						top: 30%;
						left: 40%;
					}	
					&.image5{
						top: 30%;
						left: 60%;
					}	
					&.image6{
						top: 30%;
						left: 80%;
					}
					&:hover{
						background: @blue-light2;
						opacity: 0.5;
					}																			
				}
			}
			p{
				width: 60%;
				margin: 0 auto;
			}
		}
		#our-services{
			background: url(../images/bg-simargl.jpg);
			> h2{
				padding: 2% 0;
				background-color: @blue-dark2;
				color: @white;	
				.title();	
				margin-bottom: 2%;		
			}
			.service{
				padding: 2% 0;
				border-bottom: 2px solid @gray;
				.service-image{
					text-align: center;
				}
				h3{
					text-transform: uppercase;
					font-weight: bold;
				}
				p{
					margin: 2% 0 3% 0;
				}
				.service-button{
					a{
						.button-blue();
					}
				}
			}
			.service:last-child{
				border-bottom: none;
				padding-bottom: 10%;
			}
		}
		#where-we-work{
   			text-align: center;
   			position: relative;
   			bottom: 58px;
   			.world-container{
    			position: relative;
				> img {
				    display: block;
				    width: 100%;
				    margin: 0 auto;
				}
				.text-container{
					position: absolute;
					top:8%;
		   			h2{
					    text-align: center;
		   				.title();
		   				margin-bottom: 0;
		   			}
		   			p{
		   				margin: 35px auto;
		   				color: @white;
		   				width: 60%;
		   			}
		   			img{
		   				width: 70%;
		   				height: 70%;
		   			}
		   		}
	   		}
		}
		#who-we-are{
			position: relative;
			bottom: 130px;
			z-index: -10;
			img{
				width: 100%;
			}
			.text-container{
				position: absolute;
				left: 15%;
				top: 40%;
				h2{
					.title();
					color: @black;
					text-align: left;
				}
			}
		}
		#our-partners{
			padding:  20px 0 140px 0;
			.inner-container{
				width: 80%;
				.text-container{
					width: 80%;
					padding-top: 5%;
					h2{
						.title();
						color: @black;
						text-align: left;
					}
				}
				.carousel2{
					text-align: center;
					.carousel-inner{
						.item{
							/*display: inline-block;*/
							/*float: left;*/
							img{
								/*width: 200px;*/
								/*height: 200px;*/
							}
						}
					}
					.carousel-control{
						font-size: 20px;
						background-image: none;
						opacity: 1;
						top: -13%;
						.glyphicon{
							&:before{
								font-size:33px;
								content:'\00a0';
			    				background-image:url(../images/arrows-partner.png);
			    				background-repeat: no-repeat;
							}
							&.glyphicon-chevron-right:before{
								background-position: -30px 0;
							}
							&.glyphicon-chevron-left:before{
								background-position: -0 0;
							}					
						}
						&:hover{
							.glyphicon{
								&.glyphicon-chevron-right:before{
									background-position: -30px -56px;
								}
								&.glyphicon-chevron-left:before{
									background-position: -0 -56px;
								}
							}
						}
						&.left {
							left: -24%;
						}
						&.right {
							right: -14%;
						}
					}					
				}
			}
		}
		#contact-us{
			padding-bottom: 100px;
			background: url(../images/bg-contact.jpg) no-repeat #000;
			color: @white;
			h2{
				.title();
				padding-top: 4%;
			}
			.contact-form{
				.wpcf7{
					input,textarea{
						color: @white;
						.rounded(2px);
						background: rgb(0, 0, 0);
						background: rgba(0, 0, 0, 0.6);
    					border: 1px solid @gray2;
    					width: 90%;
    					margin-bottom: 2%;
					}
					textarea{
						height: 90px;
					}
					.wpcf7-submit{
						padding: 8px 0;
						background: url(../images/icons.png) 51% -74px no-repeat @blue-light;
						text-indent: -9999px;
						border: none;
						-webkit-box-shadow: 0 3px 1px -1px @blue-light3;
						box-shadow: 0 3px 1px -1px @blue-light3;
						backgr
						&:hover{
							-webkit-box-shadow: 0 2px 1px -1px @blue-light3;
							box-shadow: 0 2px 1px -1px @blue-light3;
						}							
					}
					.your-name, .your-email,.your-message{
						display: block !important;
						input,textarea{
							background-image: url(../images/icons.png);
							background-repeat: no-repeat;
							padding: 5px 20px 5px 40px;
						}
					}
					.your-name{
						input{
							background-position: -2px 0;
						}
					}
					.your-email{
						input{
							background-position: -2px -46px;
						}
					}
					.your-message{
						textarea{
							background-position: -4px -203px;
						}
					}					
				}
			}
			.contact-text{
				address, .phone, .email{
					background: url(../images/icons.png) no-repeat;
					padding-left: 40px;
					line-height: 40px;
				}
				address{
					background-position: 0 -110px;
					margin-bottom: 0;
					border-bottom: 1px solid @gray2;
				}
				.phone{
					background-position: 0 -160px;
					border-bottom: 1px solid @gray2;
				}				
				.email{
					background-position: 0 -40px;
					line-height: 38px;
				}
				.social-buttons{
					padding-left: 5px;
					padding-top: 25px;
					li{
						display:inline-block;
						list-style: none;
						margin-right: 3px;
						a{
							background: url("../images/social-icons.png") no-repeat;
							display:block;
							height: 33px;
							width: 34px;
						}
					}
					.facebook{
						a{
							text-indent: -9999px;
							background-position: 0 0;
							&:hover{
								background-position: 0 -33px;
							}
						}
					}
					.twitter{
						a{
							text-indent: -9999px; 
							background-position: -42px 0;
							&:hover{
								background-position: -42px -33px;
							}
						}
					}
					.youtube{
						a{
							background-position: -82px 0;
							&:hover{
								background-position: -82px -33px;
							}
						}
					}
				}
			}
		}
		footer{
			background-color: @blue-light;
			color: @white;
			text-align: center;
			.attribution{
				margin: 8px auto;
			}
		}
		#content{
			width: 85%;
			/*display: table;*/
			margin: 0 auto;		
			#main{
				.alert-info{
					display: none;
				}
				article{
					footer{
						margin: 30px 0;
					}
				}
			}	
		}
	}
}