@import url(http://fonts.googleapis.com/css?family=Lato:400,700,400italic,900);
.row {
  margin-left: 0;
  margin-right: 0;
}
body {
  font-family: 'Lato', arial, sans-serif;
}
body a:hover {
  color: #154b79;
}
body .inner-container {
  width: 85%;
  display: table;
  margin: 0 auto;
}
body header .navbar {
  background: url(../images/bg-simargl.jpg);
  height: 63px;
}
body header .navbar .container .navbar-collapse #menu-main-menu {
  width: 95%;
  padding-left: 5.5%;
}
body header .navbar .container .navbar-collapse #menu-main-menu li {
  padding: 0 1em;
}
body header .navbar .container .navbar-collapse #menu-main-menu li#menu-item-10 a {
  text-indent: -9999px;
  background: url(../images/simargl-logo.png) no-repeat;
  width: 200px;
  height: 113px;
}
body header .navbar .container .navbar-collapse #menu-main-menu li a {
  padding: 1.5em 1.2em 0;
  text-transform: uppercase;
  font-weight: bold;
}
body header .navbar .container .navbar-collapse #menu-main-menu li:hover a {
  color: #154b79;
}
body .container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
body .container #slider {
  position: relative;
}
body .container #slider .language {
  position: absolute;
  left: 49%;
  top: 8%;
  z-index: 900;
}
body .container #slider .language a {
  height: 22px;
  width: 22px;
  display: inline-block;
}
body .container #slider .language a.en {
  background: url(../images/english-lenguage.jpg) no-repeat;
}
body .container #slider .language a.ru {
  background: url(../images/russian-lenguage.jpg) no-repeat;
}
body .container #slider .carousel .carousel-inner img {
  width: 100%;
  max-width: 1600px;
  max-height: 900px;
}
body .container #slider .carousel .carousel-control {
  font-size: 20px;
}
body .container #slider .carousel .carousel-control .glyphicon:before {
  font-size: 52px;
  content: '\00a0';
  background-image: url(../images/arrows-slider.png);
  background-repeat: no-repeat;
}
body .container #slider .carousel .carousel-control .glyphicon.glyphicon-chevron-right:before {
  background-position: -40px 0;
}
body .container #slider .carousel .carousel-control .glyphicon.glyphicon-chevron-left:before {
  background-position: 0 0;
}
body .container #slider .carousel .carousel-caption {
  bottom: 34%;
}
body .container #slider .carousel .carousel-caption h2 {
  font-size: 60px;
  font-weight: normal;
  margin-bottom: 0;
}
body .container #slider .carousel .carousel-caption p {
  color: #509bf8;
  font-size: 33px;
  line-height: 1;
}
body .container #media-kit {
  background-color: #1d5ca3;
  color: #fcfff6;
}
body .container #media-kit #media-kit-logo h2 {
  margin-top: 10px;
  line-height: 65px;
  background: url(../images/icon-mediakit.png) 0 0 no-repeat;
  padding-left: 90px;
  margin-top: 17px;
  border-right: 1px solid #fcfff6;
  padding-right: 15%;
  height: 65px;
}
body .container #media-kit p {
  margin-top: 3%;
  /*padding: 0 2%;*/

  line-height: 18px;
}
body .container #media-kit .button-blue {
  margin-top: 3%;
}
body .container #media-kit .button-blue a {
  color: #fcfff6;
  font-weight: bold;
  padding: 10px 20px;
  -webkit-box-shadow: 0 3px 1px -1px #217ff0;
  box-shadow: 0 3px 1px -1px #217ff0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #509bf8;
  background-image: url(../images/mediakit-icon.jpg);
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 50px;
}
body .container #media-kit .button-blue a:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 2px 1px -1px #217ff0;
  box-shadow: 0 2px 1px -1px #217ff0;
}
body .container #what-we-do {
  background-color: #143153;
  color: #fcfff6;
  border-bottom: 4px solid #509bf8;
  padding: 3% 0;
}
body .container #what-we-do h2 {
  color: #fcfff6;
  margin-top: 0;
  margin-bottom: 5%;
  text-align: center;
  font-weight: bolder;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: -2px;
}
body .container #what-we-do h2 span {
  font-weight: normal;
  color: #509bf8;
}
body .container #what-we-do #what-we-do-images {
  position: relative;
  height: 380px;
}
body .container #what-we-do #what-we-do-images .what-we-do-image {
  position: absolute;
}
body .container #what-we-do #what-we-do-images .what-we-do-image img {
  width: 220px;
  height: 220px;
}
body .container #what-we-do #what-we-do-images .what-we-do-image.image1 {
  top: 0;
  left: 30%;
}
body .container #what-we-do #what-we-do-images .what-we-do-image.image2 {
  top: 0;
  left: 50%;
}
body .container #what-we-do #what-we-do-images .what-we-do-image.image3 {
  top: 30%;
  left: 20%;
}
body .container #what-we-do #what-we-do-images .what-we-do-image.image4 {
  top: 30%;
  left: 40%;
}
body .container #what-we-do #what-we-do-images .what-we-do-image.image5 {
  top: 30%;
  left: 60%;
}
body .container #what-we-do #what-we-do-images .what-we-do-image.image6 {
  top: 30%;
  left: 80%;
}
body .container #what-we-do #what-we-do-images .what-we-do-image:hover {
  background: #1d5ca3;
  opacity: 0.5;
}
body .container #what-we-do p {
  width: 60%;
  margin: 0 auto;
}
body .container #our-services {
  background: url(../images/bg-simargl.jpg);
}
body .container #our-services > h2 {
  padding: 2% 0;
  background-color: #143153;
  color: #fcfff6;
  margin-top: 0;
  margin-bottom: 5%;
  text-align: center;
  font-weight: bolder;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-bottom: 2%;
}
body .container #our-services > h2 span {
  font-weight: normal;
  color: #509bf8;
}
body .container #our-services .service {
  padding: 2% 0;
  border-bottom: 2px solid #d3d4d6;
}
body .container #our-services .service .service-image {
  text-align: center;
}
body .container #our-services .service h3 {
  text-transform: uppercase;
  font-weight: bold;
}
body .container #our-services .service p {
  margin: 2% 0 3% 0;
}
body .container #our-services .service .service-button a {
  color: #fcfff6;
  font-weight: bold;
  padding: 10px 20px;
  -webkit-box-shadow: 0 3px 1px -1px #217ff0;
  box-shadow: 0 3px 1px -1px #217ff0;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: #509bf8;
}
body .container #our-services .service .service-button a:hover {
  text-decoration: none;
  -webkit-box-shadow: 0 2px 1px -1px #217ff0;
  box-shadow: 0 2px 1px -1px #217ff0;
}
body .container #our-services .service:last-child {
  border-bottom: none;
  padding-bottom: 10%;
}
body .container #where-we-work {
  text-align: center;
  position: relative;
  bottom: 58px;
}
body .container #where-we-work .world-container {
  position: relative;
}
body .container #where-we-work .world-container > img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
body .container #where-we-work .world-container .text-container {
  position: absolute;
  top: 8%;
}
body .container #where-we-work .world-container .text-container h2 {
  color: #fcfff6;
  margin-top: 0;
  margin-bottom: 5%;
  text-align: center;
  font-weight: bolder;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: -2px;
  margin-bottom: 0;
}
body .container #where-we-work .world-container .text-container h2 span {
  font-weight: normal;
  color: #509bf8;
}
body .container #where-we-work .world-container .text-container p {
  margin: 35px auto;
  color: #fcfff6;
  width: 60%;
}
body .container #where-we-work .world-container .text-container img {
  width: 70%;
  height: 70%;
}
body .container #who-we-are {
  position: relative;
  bottom: 130px;
  z-index: -10;
}
body .container #who-we-are img {
  width: 100%;
}
body .container #who-we-are .text-container {
  position: absolute;
  left: 15%;
  top: 40%;
}
body .container #who-we-are .text-container h2 {
  color: #fcfff6;
  margin-top: 0;
  margin-bottom: 5%;
  text-align: center;
  font-weight: bolder;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: #333333;
  text-align: left;
}
body .container #who-we-are .text-container h2 span {
  font-weight: normal;
  color: #509bf8;
}
body .container #our-partners {
  padding: 20px 0 140px 0;
}
body .container #our-partners .inner-container {
  width: 80%;
}
body .container #our-partners .inner-container .text-container {
  width: 80%;
  padding-top: 5%;
}
body .container #our-partners .inner-container .text-container h2 {
  color: #fcfff6;
  margin-top: 0;
  margin-bottom: 5%;
  text-align: center;
  font-weight: bolder;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: -2px;
  color: #333333;
  text-align: left;
}
body .container #our-partners .inner-container .text-container h2 span {
  font-weight: normal;
  color: #509bf8;
}
body .container #our-partners .inner-container .carousel2 {
  text-align: center;
}
body .container #our-partners .inner-container .carousel2 .carousel-inner .item {
  /*display: inline-block;*/

  /*float: left;*/

}
body .container #our-partners .inner-container .carousel2 .carousel-inner .item img {
  /*width: 200px;*/

  /*height: 200px;*/

}
body .container #our-partners .inner-container .carousel2 .carousel-control {
  font-size: 20px;
  background-image: none;
  opacity: 1;
  top: -13%;
}
body .container #our-partners .inner-container .carousel2 .carousel-control .glyphicon:before {
  font-size: 33px;
  content: '\00a0';
  background-image: url(../images/arrows-partner.png);
  background-repeat: no-repeat;
}
body .container #our-partners .inner-container .carousel2 .carousel-control .glyphicon.glyphicon-chevron-right:before {
  background-position: -30px 0;
}
body .container #our-partners .inner-container .carousel2 .carousel-control .glyphicon.glyphicon-chevron-left:before {
  background-position: 0 0;
}
body .container #our-partners .inner-container .carousel2 .carousel-control:hover .glyphicon.glyphicon-chevron-right:before {
  background-position: -30px -56px;
}
body .container #our-partners .inner-container .carousel2 .carousel-control:hover .glyphicon.glyphicon-chevron-left:before {
  background-position: 0 -56px;
}
body .container #our-partners .inner-container .carousel2 .carousel-control.left {
  left: -24%;
}
body .container #our-partners .inner-container .carousel2 .carousel-control.right {
  right: -14%;
}
body .container #contact-us {
  padding-bottom: 100px;
  background: url(../images/bg-contact.jpg) no-repeat #000000;
  color: #fcfff6;
}
body .container #contact-us h2 {
  color: #fcfff6;
  margin-top: 0;
  margin-bottom: 5%;
  text-align: center;
  font-weight: bolder;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: -2px;
  padding-top: 4%;
}
body .container #contact-us h2 span {
  font-weight: normal;
  color: #509bf8;
}
body .container #contact-us .contact-form .wpcf7 input,
body .container #contact-us .contact-form .wpcf7 textarea {
  color: #fcfff6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #000000;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #606060;
  width: 90%;
  margin-bottom: 2%;
}
body .container #contact-us .contact-form .wpcf7 textarea {
  height: 90px;
}
body .container #contact-us .contact-form .wpcf7 .wpcf7-submit {
  padding: 8px 0;
  background: url(../images/icons.png) 51% -74px no-repeat #509bf8;
  text-indent: -9999px;
  border: none;
  -webkit-box-shadow: 0 3px 1px -1px #217ff0;
  box-shadow: 0 3px 1px -1px #217ff0;
}
backgr body .container #contact-us .contact-form .wpcf7 .wpcf7-submit:hover {
  -webkit-box-shadow: 0 2px 1px -1px #217ff0;
  box-shadow: 0 2px 1px -1px #217ff0;
}
body .container #contact-us .contact-form .wpcf7 .your-name,
body .container #contact-us .contact-form .wpcf7 .your-email,
body .container #contact-us .contact-form .wpcf7 .your-message {
  display: block !important;
}
body .container #contact-us .contact-form .wpcf7 .your-name input,
body .container #contact-us .contact-form .wpcf7 .your-email input,
body .container #contact-us .contact-form .wpcf7 .your-message input,
body .container #contact-us .contact-form .wpcf7 .your-name textarea,
body .container #contact-us .contact-form .wpcf7 .your-email textarea,
body .container #contact-us .contact-form .wpcf7 .your-message textarea {
  background-image: url(../images/icons.png);
  background-repeat: no-repeat;
  padding: 5px 20px 5px 40px;
}
body .container #contact-us .contact-form .wpcf7 .your-name input {
  background-position: -2px 0;
}
body .container #contact-us .contact-form .wpcf7 .your-email input {
  background-position: -2px -46px;
}
body .container #contact-us .contact-form .wpcf7 .your-message textarea {
  background-position: -4px -203px;
}
body .container #contact-us .contact-text address,
body .container #contact-us .contact-text .phone,
body .container #contact-us .contact-text .email {
  background: url(../images/icons.png) no-repeat;
  padding-left: 40px;
  line-height: 40px;
}
body .container #contact-us .contact-text address {
  background-position: 0 -110px;
  margin-bottom: 0;
  border-bottom: 1px solid #606060;
}
body .container #contact-us .contact-text .phone {
  background-position: 0 -160px;
  border-bottom: 1px solid #606060;
}
body .container #contact-us .contact-text .email {
  background-position: 0 -40px;
  line-height: 38px;
}
body .container #contact-us .contact-text .social-buttons {
  padding-left: 5px;
  padding-top: 25px;
}
body .container #contact-us .contact-text .social-buttons li {
  display: inline-block;
  list-style: none;
  margin-right: 3px;
}
body .container #contact-us .contact-text .social-buttons li a {
  background: url("../images/social-icons.png") no-repeat;
  display: block;
  height: 33px;
  width: 34px;
}
body .container #contact-us .contact-text .social-buttons .facebook a {
  text-indent: -9999px;
  background-position: 0 0;
}
body .container #contact-us .contact-text .social-buttons .facebook a:hover {
  background-position: 0 -33px;
}
body .container #contact-us .contact-text .social-buttons .twitter a {
  text-indent: -9999px;
  background-position: -42px 0;
}
body .container #contact-us .contact-text .social-buttons .twitter a:hover {
  background-position: -42px -33px;
}
body .container #contact-us .contact-text .social-buttons .youtube a {
  background-position: -82px 0;
}
body .container #contact-us .contact-text .social-buttons .youtube a:hover {
  background-position: -82px -33px;
}
body .container footer {
  background-color: #509bf8;
  color: #fcfff6;
  text-align: center;
}
body .container footer .attribution {
  margin: 8px auto;
}
body .container #content {
  width: 85%;
  /*display: table;*/

  margin: 0 auto;
}
body .container #content #main .alert-info {
  display: none;
}
body .container #content #main article footer {
  margin: 30px 0;
}
